*{
  user-select: none;
  -webkit-user-drag: none;
  content: none;
  font-family: 'Special Elite', cursive !important;
}



.screen{
  display: flex;
  height: 100vh;
  width: 100vw;
}
.leftPanel {
  align-content: center;
  justify-items: center;
  background-color: #5271ff;
  color: white;
  margin: 0;
  width: 50%;
  border-right: 10px double white;
}
.rightPanel {
  border-left: 10px double #5271ff;
  align-content: center;
  justify-items: center;
  background-color: white;
  color: #5271ff !important;
  font-size: xx-large;
  font-weight: bolder;
  height: inherit;
  width: 50%;
}